img.profile{
	height: 180px;
	width: auto;
}
img.icon{
	height: 20px;
	width: auto;
}
.glyphicon{
	font-size: 20px;
}
.what{
	margin-bottom: 0px;
	margin-top: 2px;
}

.extra, .where{
    margin-top: 0px;
    margin-bottom: 0px;
}
p.dates, p.where{
	font-size: 14px;
}
p.where{
	font-style: italic;
}
p.dates{
	margin-top: 1px;
}
p.dates, p.city{
	font-size: 13px;
	margin-bottom: 0px;
}
p.city{
	font-style: italic;
}
a.link{
	text-decoration: none;

}
a.link:hover{
	text-decoration: underline;
}
svg{
	height: 200px;
	width: 200px;
}
.nvd3 .nv-axis line {
	stroke: transparent;
}
.tab-pane.active{
	background-color: #2F2D42;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
}

.nav-pills>li.active>a{
	background-color: #2F2D42;
}
.nav > li > a > img {
  max-width: none;
}
.nav-pills {
  border-bottom: 1px solid transparent;
}
.nav-pills > li {
  float: left;
  margin-bottom: -1px;
}
.nav-pills > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-pills > li > a:hover {
  border-color:   #CE2D59;
  background-color:  #CE2D59;
  color: #fedbb1;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #2F2D42;
  background-color: #CE2D59;
  border: 1px solid transparent;
  border-bottom-color: transparent;
  cursor: default;
}
svg text {
    fill: #fedbb1;
}
div.container{
	margin-top: 30px;
}
.tab-content > div {
	height: 500px;
}
.row {
	margin-bottom: 30px;
}
#skills .row {
	margin-bottom: 10px;
}
p.description{
	font-size: 12px;

}